#content {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.addTaskPopUp {
  position: absolute;
  top: 10px;
  width: 100%;
  left: 0;
}

.editTaskPopUp {
  position: absolute;
  top: 10px;
  width: 100%;
  left: 0;
}

.openButton {
  font-size: 20px;
  font-weight: 500;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid rgba(190, 241, 243, 0.85);
  background-color: #93d2e2;
  color: white;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 12%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.openButton:hover {
  opacity: 100;
  background-color: rgb(174, 211, 240);
}
